<aside id='rightViewInfo'>

  <div class="float-left">
    <%= link_to( new_driver_path, id: 'newJourney', onclick: "initialize()") do %>
      <span id='newJourney'>Add a journey <i class='fa fa-plus-circle'></i></span>
    <% end %>
  </div>
  
  <div id="newDriverForm" class="slideInRight">

  <%= form_for @driver do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name' %>

    <%= f.label :date %>
    <%= f.text_field :date, placeholder: 'Date of travel' %>

    <%= f.label :start_location %>
    <%= f.text_field :start_location, placeholder: 'Start location' %>

    <%= f.label :end_location %>
    <%= f.text_field :end_location, placeholder: 'End location' %>

    <%= f.label :cost %>
    <%= f.text_field :cost, placeholder: 'How much?' %>

    <%= f.label :how_many %>
    <%= f.text_field :how_many, placeholder: 'How many can you take?' %>

    <%= f.label :est_time %>
    <%= f.text_field :est_time, placeholder: 'How long will it take?' %>

    <%= f.submit 'Submit', id: 'newDriverSubmit' , class: 'btn success-btn'%>

  <% end %>

  </div>

  <div id="addPassengerForm">
    <form>
      <input type="text" name="name" id="passengerName">
      <button class="btn success-btn" id="addMe">Add me!</button>
    </form>
  </div>
  
</aside>