<div class="journey-listings">
  <% @drivers.each do |driver| %>
    <div data-id="<%= driver.id %>" class="journey-wrapper">
      <div class="locations">
        <%= link_to driver.start_location + ' to ' + driver.end_location, driver, class: 'journeyRouteShow' %>
        <span class="float-right cost">
          £<%= driver.cost %>
        </span>
      </div>
      <div class="date"><%= driver.date %></div>
      <div class="driver-name">
        <%= driver.name %>
      </div>
    </div>
  <% end %>
</div>
