<!DOCTYPE html>
<html>
<head>
  <title>CarPoolApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG21H6gJDiON0CVeYQjcfGb1jXVtDqa1s">
    </script>
  <%= csrf_meta_tags %>
</head>
<body onload="initialize()">

<!-- Header & nav -->
<%= render 'shared/header' %>

<!-- Left hand nav -->
<%= render 'shared/left_hand_nav' %>

<section class="box box-4">
  <div id="map-canvas"></div>
  <div id="routeInfo">
    <div class="box box-4">
      <!-- <a class="btn prim-btn">Edit this journey</a> -->
      <!-- <button id="cancel-jouney">Cancel</button> -->
      <%#= link_to 'Cancel', driver_path, id: 'cancel-journey', method: :delete %>
      <!-- <a class="btn success-btn">Add passenger</a> -->
    </div>
    <div class="box box-6">
      <div class="route-info">
        
      </div>
    </div>
  </div>
</section>

<main class="box box-2">
  <%= yield %>
</main>

<!-- Form for adding new journey -->
<%= render 'shared/new_driver_form' %>

</body>
</html>
